*{
    margin: 0;
    padding: 0;
}
body{
    background-color: teal;
}
.button-container{
    padding: 20px;
}
button{
    padding: 20px;
    font-size:1.2em;
    border:none;
    color: #fff;
    background-color: transparent;
    cursor:pointer;
    margin: 10px;
}
#one{
    background-color: #fff;
    color: teal;
    border:3px solid transparent;
    transition-property: background-color ,color, border;
    transition-duration: 0.4s;
}


#one:hover{
    background-color: transparent;
    color:#fff;
    border:3px solid #fff;
}

#two{
    position: relative;
}

#two:hover:before{
    width: 100%;
}

#two:before{
    content:'';
    height:3px;
    width: 0%;
    background-color:#fff;
    position: absolute;
    bottom: 0;
    right: 0;
    transition:width 0.3s;
}

#three{
    letter-spacing: 0px;
    transition: letter-spacing 0.3s;
}

#three:hover{
    letter-spacing: 5px;
}

#three:before{
    content:'';
    height:3px;
    width: 0%;
    background-color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: width 0.3s;
}



#three:hover:before,#three:hover:after{
    width: 100%;
}

#two:hover:after{
    height: 100%;
}

#two:after{
    content:'';
    height:0%;
    width: 3px;
    background-color:#fff;
    position: absolute;
    bottom: 0;
    right: 0;
    transition:height 0.3s;
}

#three:after{
    content:'';
    height: 3px;
    width:0%;
    background-color:#fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: width 0.3s;
}

/* #three:after{
    content:'';
    width:3px;
    height: 0%;
    background-color: #fff;
    position: absolute;
    top:0;
    right: 0;
    transition:height 0.3s;
}

#three:hover:after{
    height:100%;
} */

#three{
    position: relative;
}

#four{
    position: relative;
}

#four:hover:before,#four:hover:after{
    height: 100%;
    width: 100%;
}

#four:before{
    content:'';
    height: 20px;
    width: 20px;
    border:2px solid #fff;
    /* background-color:#fff; */
    border-color:#fff #fff transparent transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: height,width, 0.3s;
}
#four:after{
    content:'';
    height: 20px;
    width:20px;
    border: 2px solid;
    /* background-color: #fff; */
    position: absolute;
    left: 0;
    bottom:0;
    border-color:transparent transparent #fff #fff;
    transition: height,width, 0.3s;

}
#five{
    border:1px solid #fff;
    transition: box-shadow 0.3s;
    position: relative;
    
}
#five:hover{
    box-shadow:inset 0px 0px 15px #fff;
}

#five:before{
    content:'';
    height:100%;
    width:100%;
    position: absolute;
    /* background-color:#fff; */
    border:1px solid #fff;
    top: 0px;
    left:0;
    transition: transform 0.2s border-color 0.3s;
}

#five:hover:before{
    transform: scale(1.2);
    border-color:transparent;
}

#six{
    border:1px solid #fff;
    position: relative;
    transition: color 0.3s;
    overflow:hidden;
}

#six:before{
    content:'';
    height: 100%;
    width:0%;
    position: absolute;
    top: 0px;
    left:0px;
    background-color:#fff;
    transition: width 0.3s cubic-bezier(.31,-0.41,.66,1.45);
    z-index: -1;
}
#six:hover:before{
    width:100%
}
#six:hover{
    color:teal;
}

#seven{
    border:1px solid #fff;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
}
#seven:before{
    content:'';
    width: 50%;
    height:150%;
    position: absolute;
    background: #fff;
    top: -18px;
    left:-70px;
    transform: rotate(10deg);
    transition: width 0.3s cubic-bezier(1,.03,.74,.32);
    z-index:-1;
}
#seven:hover:before{
    width: 200%;
}
#seven:hover{
    color: teal;
}
#eight{
    border:1px solid #fff;
    position: relative;
    transition: color 0.4s;
   
}
#eight:hover{
    color:teal;
}
#eight:hover:before,#eight:hover:after{
    height:50%;

}
#eight::before{
    content:'';
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 0%;
    background-color:#fff;
    transition:height 0.3s;
    z-index:-1;
}
#eight::after{
    content:'';
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    height: 0%;
    background-color:#fff;
    transition: height 0.3s;
    z-index:-1;
}

#nine{
    border:1px solid #fff;
    transition: border-radius 0.4s;
}

#nine:hover{
    border-radius:20px;
    
}

#ten{
    border:1px solid #fff;
    position:relative;
    overflow: hidden;
    transition: color 0.3s;
}

#ten:hover{
    color:teal;
}

#ten:before{
    content:'';
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #fff;
    top: -20px;
    left:-25px;
    transform: rotate(30deg);
    border-radius: 80%;
    transition-property:height,width,border-radius;
    transition-duration:0.4s;
    z-index:-1;
}
#ten:hover:before{
    width: 200%;
    height: 300%;
    border-radius: 0px;
}